extends layout

block header
    script(type='text/javascript', src='/libs/SparkMD5/spark-md5.min.js')
    script(type='text/javascript', src='/javascripts/script.js')

block content
    form(id='upload-form', action='/upload', method='post', enctype='multipart/form-data')
        | add a file
        input(id='fileToUpload', type='file', name='fileToUpload')
        input(type='submit', value='upload files', name='submit', id='upload-button')

    .progress
        .determinate(style='width: 0%')

    .fixed-action-btn
        a.btn-floating.btn-large.red(id='add-file-button')
            i.large.material-icons add