extends layout

block header
    script(type='text/javascript', src='/app.js')

block content
    .upload-controller(ng-controller="uploadController as vm")
        .empty-list(ng-show='vm.files.length === 0')
            p <i>nodefilestore</i> is an easy filesharing service.
            p You can anonymously upload files and you get a secret download link for sharing with your friend.
            p After 7 days, the link is invalid, and the files are deleted.
        ul.file-list.collection(ng-show='vm.files.length > 0 && !vm.showResultPannel')
            li.collection-item(ng-repeat='file in vm.files')
                .file-name {{ file.name }}&nbsp;
                .file-size {{ file.size | filesize }}
                .progress(ng-hide='file.isUploadFinished')
                    .determinate(ng-style='{ "width": file.uploadedPercentage + "%" }')
                .result(ng-show='file.isUploadFinished')
                    .download-url download url:&nbsp;
                        a(ng-href='{{ file.downloadUrl }}') {{ file.downloadUrl }}
                    .download-expires expires on {{ file.expirationDate | date:'short' }}
        .fixed-action-btn
            a.btn-floating.btn-large.red(file-picker, ng-class='{ disabled: vm.isUploading }')
                i.large.material-icons add