extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/upload', method='post', enctype='multipart/form-data')
    | add a file
    input(id='fileToUpload', type='file', name='fileToUpload')
    input(type='submit', value='upload files', name='submit', id='upload-button')

    ul.file-list.collection
      li.collection-item
        .progress
          .determinate(style='width: 0%')

