extends layout

block header
    script(type='text/javascript', src='/app.js')

block content
    .main-controller(ng-controller='MainController as mainController')
        .empty-list(ng-show='mainController.files.length === 0')
            | es wurden noch keine Dateien hinzugefügt
        ul.file-list.collection(ng-show='mainController.files.length > 0')
            li.collection-item(ng-repeat='file in mainController.files')
                span.name {{ file.name }}
                span.size ({{ file.size }})
                .progress(ng-show='file.showProgress')
                    .determinate(style='width: 0%')

        .fixed-action-btn
            a.btn-floating.btn-large.red(file-picker)
                i.large.material-icons add