doctype html
html(ng-app=angularApp)
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/libs/materialize/css/materialize.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(type='text/javascript', src='/libs/jquery/jquery-2.1.4.min.js')
        script(type='text/javascript', src='/libs/materialize/js/materialize.min.js')
        block header
    body
        include navigation
        .container
            block content
        block footer