doctype html
html
    head
        title= title

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='/libs/Materialize/dist/css/materialize.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/site.css')

        script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/libs/Materialize/dist/js/materialize.min.js')

        block header
    body
        include navigation
        .section.no-pad-bot
            #root.container
                block content
        footer.page-footer.grey.lighten-4
            .container
                | nodefilestore #{version}&nbsp;
                iframe(src='https://ghbtns.com/github-btn.html?user=MCeddy&repo=nodefilestore&type=star&count=true', frameborder='0', scrolling='0', width='80px', height='20px')
                iframe(src='https://ghbtns.com/github-btn.html?user=MCeddy&repo=nodefilestore&type=fork&count=true', frameborder='0', scrolling='0', width='170px', height='20px')
            .footer-copyright
                .container
                    | &copy; 2015 - #{new Date().getFullYear()} by&nbsp;
                    a(href='http://www.coding-lemur.de', target='_blank') coding lemur
        block footer