doctype html
html
    head
        title= title

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='/libs/Materialize/dist/css/materialize.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/site.css')

        script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/libs/Materialize/dist/js/materialize.min.js')

        block header
    body
        include navigation
        #content
            block content
        include footer
        block footer
