.drop-zone {
    &.drag-over {
        background-color: #e0f2f1;
    }
}

.upload-form {
    ul.file-list {
        li.file {
            position: relative;

            &.collection-item {
                background-color: transparent;
            }

            .remove-button {
                position: absolute;
                top: 16px;
                right: 16px;
                color: #9e9e9e;

                &:hover {
                    color: #039be5;
                    cursor: pointer;
                }
            }
        }
    }

    .empty-container {
        i.material-icons {
            font-size: 50px;
        }
    }

    .result-container {
        padding: 10px 20px;
        border: solid 2px #9ACD32;
    }

    .action-area {
        margin-bottom: 14px;

        a.btn {
            margin-right: 10px;
        }
    }
}
