.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}

footer.page-footer {
    margin: 0;
}

footer.page-footer .footer-copyright {
    color: black;
}

footer.page-footer .footer-copyright a {
    color: black;
    font-weight: 400;
}
