/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 92px;
}

body > .section {
    height: 100%;
}

footer.page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 92px;
    width: 100%;
}

footer.page-footer .footer-copyright {
    color: black;
}

footer.page-footer .footer-copyright a {
    color: black;
    font-weight: 400;
}